{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div id="myCarousel" class="carousel slide " data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ul>
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://sis.berkeley.edu/sites/default/files/styles/openberkeley_image_full/public/students_0.jpg?itok=C8bsSV3o&timestamp=1503421450" class="img-responsive" style="width:100%">
                    </div>
            
                    <div class="carousel-item">
                        <img src="https://sis.berkeley.edu/sites/default/files/styles/openberkeley_image_full/public/general/unnamed-2_0.jpg" class="img-responsive" style="width:100%">
                    </div>
                    <div class="carousel-item">
                        <img src="https://sis.berkeley.edu/sites/default/files/styles/openberkeley_megamenu/public/training_mega_menu.png?itok=_QUgyvQi&timestamp=1505838397" class="img-responsive" style="width:100%">
                    </div>
                </div>
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                <a class="carousel-control-next" href="#myCarousal" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
            </div>
        </div>        
    </div><br><br>
</div>

<div class="container-fluid" >
        <h2 align="center" style="color:grey"> Welcome to Student Information System</h2>
</div><br><br>
<div class="container">
    <div class ="row">
        <div class="col-sm-4">
                <img src="https://sis.berkeley.edu/sites/default/files/styles/openberkeley_image_full/public/students_0.jpg?itok=C8bsSV3o&timestamp=1503421450" class="img-thumbnail" style="width:100%">
                <p align="center" style="color:grey">Student</p>
        </div>
        <div class="col-sm-4">
                <img src="https://sis.berkeley.edu/sites/default/files/styles/openberkeley_image_full/public/general/unnamed-2_0.jpg"  class="img-thumbnail" style="width:100%">
                <p align="center" style="color:grey">Teacher</p>
        </div>
        <div class="col-sm-4">
                <img src="https://sis.berkeley.edu/sites/default/files/styles/openberkeley_megamenu/public/training_mega_menu.png?itok=_QUgyvQi&timestamp=1505838397" class="img-thumbnail" style="width:100%">
                <p align="center" style="color:grey">Admin</p>
        </div>
    </div><br><br><br><br><br>
</div>
<div class="container">
    <h2 align="center" style="color:grey"><strong>About us</strong></h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-5">
                        <img src="https://sis.berkeley.edu/sites/default/files/styles/openberkeley_image_full/public/students_0.jpg?itok=C8bsSV3o&timestamp=1503421450" class="img-responsive" style="width:100%">
            </div>
            <div class="col-sm-7">
                <p>A Student information systems (SIS) store and track all student information, 
                    including grades, attendance records, and more. The software functions as a digital 
                    dropbox for school-related information. SIS software has become a vital tool for both
                     educational institutions as well as parents and students, who use it to gain access to
                     student information, make payments, and communicate with school functionaries.
                    SIS products are used by teachers, students, and parents to access all relevant 
                        information pertaining to a student’s schooling. SIS software is leveraged for a 
                        few different functions; the main two being as a channel of communication and
                         as a place to store student information. 

                </p>
            </div>
        </div>
    </div>
   
</div>


{% endblock %}