{% extends 'base2.html' %}
{% block body %}

<div class ="container-fluid " >
    <h1><strong><center>TEACHER  DASHBOARD</center></strong></h1> 
</div>

<div class="container-fluid"><br><br>
    <div class="row">               
        <div class="col-md-2">
        <h2><strong><a href="subject" style="color:black"><span class="fa fa-users fa-4x" ></span></a></strong></h2></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
        <h2><strong><a href="teachassgn"  style="color:black"><span class="fa fa-file-powerpoint-o fa-4x" ></span></strong></h2></a></div>
    </div>
</div>

{% endblock %}