{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-5 col-sm-5 col-7">
    <h2><strong><span class="fa fa-group fa-2x" ></span> &nbsp &nbsp Users</strong></h2><hr>
    <br><br>
    
    <a href="{% url 'student_signup' %}" class="btn btn-student btn-lg" role="button"> Student Account</a><br><br>
    <a href="{% url 'teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">Teacher Account</a><br><br><br><br>
</div>
</div>
  
{% endblock %}
